<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
    <add key="enabled" value="True" />
    <add key="automatic" value="true" />
  </packageRestore>
  <packageSources>
    <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
  </packageSources>
  <config>
    <add key="dependencyVersion" value="Highest" />
	  <add key="repositoryPath" value=".\src\packages" />
  </config>
</configuration>